<header class="main-nav">
	<nav class="left-nav">
		<ul>

      <li>
        <button id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
            <span>SECTIONS</span>
        </button>
      </li>

      <li data-controller="modal">
        <button id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>SEARCH</span>
        </button>
      </li>

		</ul>
	</nav>

  <nav class="right-nav">
    <ul>
      <li><button>SUBSCRIBE NOW</button></li>
      <li><button>LOGIN</button></li>
      <li><button>
        <li class="gear-icon">
          <i class="fas fa-cog"></i>
        </li>
      </button></li>
    </ul>
  </nav>

</header>