CSS 
HTML 
Javascript 
Ruby

<div class="subheading">
    <ul>
        <li>
            <%= Date.today.strftime("%A, %B %d, %Y") %>
        </li>
        <li>
            <p><i class="fas fa-newspaper"></i>
            Today’s Paper</p>
        </li>
        <li>
            <p><i class="fas fa-video"></i>
            Video</p>
        </li>
        <li>
            <p>77°F</p>
        </li>
        <li>
            <p>AAO +100%</p>
        </li>
    </ul>
</div>